// Boilerplate Theme

// Import utilities
@import 'core/utils/fonts';
@import 'core/utils/reset';

// Import Bootstrap source files
@import 'node_modules/bootstrap/scss/bootstrap';

// Import core styles
@import 'core/core';

// Import custom styles
@import 'custom';
