.account {
  .info {
    margin-bottom: 10px;
    @include flex();
    // flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: normal;
    }

    .desc {
      flex: 1;
      @include media-breakpoint-down(xs) {
        @include flex();
        justify-content: space-between;
        align-items: center;
      }

      .admin {
        padding: 5px;
        border-radius: $border-radius-default;
        background-color: $primary-color;
        color: $white;
        font-weight: $font-weight-bold-one;
        margin-left: 10px;
      }

      .provider-email {
        text-transform: capitalize;
      }
    }

    p,
    span {
      margin: 0;
      display: inline;
    }
  }

  .checkbox {
    margin-top: 20px;
  }
}

// start reset password form styles
.reset-form {
  position: relative;
  margin: 10px 0px;
  padding: 15px;
  background: $white;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  @include transition($layout-transition-higher-speed);
}

.reset-form-open {
  .reset-form {
    opacity: 1;
    height: 100%;
    visibility: visible;
    @include transition($layout-transition-higher-speed);
  }

  .dark-overflow {
    @include dark-overflow();
  }
}
// end reset password form styles
