.account {
  .info {
    margin-bottom: 10px;
    @include flex();
    // flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: normal;
    }

    .desc {
      flex: 1;
      @include media-breakpoint-down(xs) {
        @include flex();
        justify-content: space-between;
        align-items: center;
      }

      .admin {
        padding: 6px 8px;
        border-radius: $border-radius-default;
        background-color: $primary-color;
        color: $white;
        font-weight: $font-weight-bold-one;
        margin-left: 10px;
      }

      .provider-email {
        text-transform: capitalize;
      }
    }

    p,
    span {
      margin: 0;
      display: inline;
    }
  }
}

// end reset password form styles
