// mini cart
.mini-cart {
  position: fixed;
  top: 0;
  right: -100%;
  background: $white;
  height: 100%;
  width: 470px;
  z-index: 1000;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  @include transition($layout-transition-higher-speed);

  @include media-breakpoint-down(xs) {
    width: 100%;
    top: 138px;
  }
}

// show hidden cart popup
.mini-cart-open {
  .mini-cart {
    right: 0;
    @include transition($layout-transition-higher-speed);
  }

  .dark-overflow {
    @include dark-overflow();
    @include media-breakpoint-down(xs) {
      width: 100%;
      top: 138px;
    }
  }
}

.cart {
  height: 100%;

  .empty-cart {
    height: 100%;
    @include flex();
    align-items: center;
    justify-content: center;

    p {
      color: $red;
    }
  }
}
