// mini cart
.mini-cart {
  position: fixed;
  top: 0;
  right: -100%;
  background: $white;
  height: 100%;
  width: 470px;
  z-index: 1000;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  @include transition($layout-transition-higher-speed);

  @include media-breakpoint-down(xs) {
    width: 88%;
    top: 0;
  }
}

// show hidden cart popup
.mini-cart-open {
  .mini-cart {
    right: 0;
    @include transition($layout-transition-higher-speed);
  }

  .dark-overflow {
    @include dark-overflow();
    @include media-breakpoint-down(xs) {
      width: 100%;
      top: 0;
    }
  }
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: column;

  .cart-checkout {
    background-color: $white;
    border-top: $border-default;
  }

  .total-item {
    margin-bottom: 10px;

    label {
      color: $font-custom-color;
      font-weight: $font-weight-bold-one;
    }
  }

  .cart-summary {
    padding: 5px 15px;
    background-color: $theme-light-white;
  }

  .cart-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    background-color: $theme-white;
  }

  .item-box {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: $border-default;

    &:last-child {
      border-bottom: none;
    }

    h1 {
      display: inline-block;
    }

    .icon-trash {
      color: $theme-bright-red;
      position: absolute;
      top: 7px;
      font-size: $font-size-xx-large;
      right: 10px;
      cursor: pointer;
    }

    p {
      margin: 5px 0 0 0;
    }

    label {
      margin-right: 10px;
      color: $font-custom-color;
      font-weight: $font-weight-bold-one;
    }
  }

  .cart-header {
    border-bottom: $border-default;
    text-align: right;

    .close-icon {
      cursor: pointer;
      position: relative;
      display: inline-block;
      background-size: 16px;
      padding: 20px;
      @include icon($close, 25px, 25px);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .empty-cart {
    height: 100%;
    @include flex();
    align-items: center;
    justify-content: center;

    p {
      color: $red;
      font-weight: $font-weight-bold-one;
    }
  }
}
