.panel-body {
  padding: 10px;
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}

.panel-sidebar {
  .panel-title,
  .menu-panel {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    color: $red !important;
    border-top: $border-default;
    border-right: $border-default;
    border-left: $border-default;
    border-color: $dark-border-color;
  }

  .menu-panel {
    &.collapse {
      border-bottom: $border-default;
      border-color: $dark-border-color;

      &:hover {
        background-color: $theme-gray;
      }
    }
  }

  .panel-title {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .navbar {
    padding: 0px;
    background-color: $white;
  }

  .menu-panel {
    display: none;
    width: 100%;
    @include media-breakpoint-down(md) {
      display: block;
      cursor: pointer;
    }

    &:hover {
      background-color: transparent;
    }

    .btn-text {
      font-size: $font-size-heading-medium !important;
      font-weight: $font-weight-bold-one;
    }
  }

  .panel-links {
    width: 100%;
    text-align: center;
    margin-bottom: 0;

    li {
      border-top: $border-default;
      border-right: $border-default;
      border-left: $border-default;
      border-color: $light-border-color;
      // border-color: $dark-border-color;

      &:hover {
        background-color: $white;

        a {
          color: $font-custom-color !important;
        }
      }

      &:last-child {
        border-bottom: $border-default;
        border-color: $dark-border-color;
      }

      a {
        display: block;
        padding: 10px 0px;
        text-transform: capitalize;
        color: $font-custom-color !important;
        font-weight: $font-weight-bold-one;
      }

      a.active-link {
        color: $red !important;
        font-weight: $font-weight-bold-two;

        // &:hover {
        //   color: $font-hover-color !important;
        // }
      }
    }
  }
}
