// header styles

.header-info {
  padding: 10px 0px;
  background-color: $black;

  @include media-breakpoint-down(sm) {
    .info-col {
      padding: 0;
    }
  }

  .fa,
  span {
    color: $white;
    font-size: $font-size-medium !important;
    font-weight: $font-weight-bold-one;
    margin: 0px 5px;
  }
}

.header {
  background-color: $white;
  border-bottom: $border-default;
  border-color: $light-border-color;
}

.fixed-mobile-header {
  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  }
}

.top-header {
  align-items: center;

  span {
    &:hover {
      opacity: 0.5;
    }
  }

  .fa-cart-plus {
    position: relative;
  }

  .fa {
    cursor: pointer;
    color: $red;
    font-size: $font-size-x-huge !important;
  }

  .col-no-padding {
    @include media-breakpoint-down(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .navbar {
    padding-left: 0px;
    background-color: $white !important;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      justify-content: center;
      padding: 0;
    }
  }

  // .log-out {
  //   color: $font-color !important;
  //   display: block;
  //   padding: 5px 15px;

  //   &:focus {
  //     outline: none;
  //   }
  // }

  .navbar-nav {
    flex-direction: row;

    // a,
    // span {
    //   &:hover {
    //     color: $red !important;
    //   }
    // }

    a,
    span {
      &:hover {
        color: $font-hover-color !important;
      }
    }

    .dropdown-toggle.nav-link {
      text-transform: capitalize;
    }

    .dropdown {
      .nav-link {
        .dropdown-caret {
          font-size: $font-size-x-small !important;
          color: $font-light-color;
          margin-left: 5px;
          -webkit-transition: $layout-transition-speed;
          transition: $layout-transition-speed;
        }
      }
    }

    .dropdown.show {
      .nav-link {
        .dropdown-caret {
          transform: rotate(180deg);
          -webkit-transition: $layout-transition-speed;
          transition: $layout-transition-speed;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      z-index: 1001;
      border: none;
      box-shadow: $box-shadow;
    }

    .dropdown-item {
      padding: 0px;

      &:focus {
        outline: none;
      }

      &:active {
        background-color: $white;
      }

      a {
        display: block;
        padding: 5px 15px;
      }
    }

    .nav-item {
      @include media-breakpoint-down(sm) {
        margin-right: 15px;
      }
    }
  }

  .brand {
    @include flex();
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      justify-content: center;
    }

    .bars-icon {
      display: block;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    h1 {
      margin: 0px;
      color: $red !important;
    }
  }

  .header-links {
    @include flex();
    flex-wrap: wrap;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }

    .bars-icon {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .cart-badge {
      @include badge();
    }
  }
}
