// start input text styles
input,
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: $border-default;
  cursor: text;

  &:focus {
    outline: none;
    color: $focus-font-color;
    border-color: $dark-border-color !important;
  }
}

// end input text styles

// start input button styles
input[type='button'],
input[type='submit'],
input[type='reset'],
button[type='submit'],
button[type='reset'] {
  padding: 10px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
// end input button styles

.input-box,
.textarea-box {
  margin: 10px 0px;

  label {
    margin-bottom: 5px;
    color: $theme-blue;
    font-size: $font-size-large;
  }
}

.textarea,
textarea {
  width: 100%;
  padding: 10px;
  border: $border-default;
  cursor: text;

  &:focus {
    outline: none;
    color: $focus-font-color;
    border-color: $dark-border-color !important;
  }
}

.select-box {
  margin: 10px 0px;
}

.input-btn {
  min-width: 150px;
  border: $border-default !important;
  border-width: 3px !important;
  color: $black !important;
  background-color: $btn-bg;
  -webkit-transition: $layout-transition-speed;
  transition: $layout-transition-speed;

  &:hover {
    color: $white !important;
    background-color: $btn-bg-hover;
    -webkit-transition: $layout-transition-speed;
    transition: $layout-transition-speed;
  }
}

@include placeholder {
  font-size: $font-size-small;
  line-height: $line-height;
  text-transform: capitalize;
}
