// start input text styles
input[type='text'],
input[type='number'],
input[type='password'] {
  width: 100%;
  padding: 8px 10px;
  border: $border-default;
  font-size: $font-size-large;
  color: $font-custom-color;
  cursor: text;

  &:focus {
    outline: none;
    color: $font-focus-color;
    border-color: $theme-light-blue !important;
    // box-shadow: $box-shadow;
  }

  &:disabled {
    background-color: $disabled-bg;
    border: none !important;
    cursor: not-allowed;
  }
}
// end input text styles

.input-box,
.select-box {
  .invalid-message {
    visibility: hidden;
    opacity: 0;
    color: $validation-color;
    height: 0;
    @include flex();
    -webkit-transition: $layout-transition-speed;
    transition: $layout-transition-speed;
  }

  .input-text,
  textarea {
    -webkit-transition: $layout-transition-speed;
    transition: $layout-transition-speed;
  }

  &.invalid {
    .input-text,
    textarea {
      border-color: $validation-color;
      -webkit-transition: $layout-transition-speed;
      transition: $layout-transition-speed;

      &:focus {
        border-color: $validation-color !important;
      }
    }

    .invalid-message {
      visibility: visible;
      opacity: 1;
      height: 100%;
      margin-top: 5px;
      -webkit-transition: $layout-transition-speed;
      transition: $layout-transition-speed;
    }
  }
}

.input-box {
  margin: 10px 0px;

  label {
    margin-bottom: 5px;
    color: $theme-blue;
    font-size: $font-size-large;
  }
}

.inline-btn-box {
  .input-text-block {
    @include flex();
    flex-direction: row;
  }

  .input-btn {
    &.custom-btn {
      border-radius: 0;
      border-left: none;
    }
  }
}

.textarea,
textarea {
  width: 100%;
  padding: 10px;
  border: $border-default;
  cursor: text;

  &:focus {
    outline: none;
    color: $font-focus-color;
    border-color: $theme-light-blue !important;
    // box-shadow: $box-shadow;
  }
}

.select-box {
  margin: 10px 0px;

  label {
    margin-bottom: 5px;
    color: $theme-blue;
    font-size: $font-size-large;
  }

  .select-container {
    .select-option__multi-value__label {
      font-weight: $font-weight-bold-one;
      font-size: $font-size-small;
    }
  }
}

@include placeholder {
  font-size: $font-size-small;
  line-height: $line-height;
  text-transform: capitalize;
}
