// (Login, SignUp, forgetPassword,resetPassword) => Styles

.login-actions {
  @include flex();
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: normal;

    .input-btn {
      margin-bottom: 10px;
    }
  }
}

.redirect-link {
  color: $red !important;
  font-weight: $font-weight-bold-one;
}

.signup-form {
  .checkbox {
    margin-bottom: 20px;
  }
}
