.newsletter-form {
  p {
    margin: 0;
  }
}

.subscribe {
  position: relative;

  .input-btn {
    position: absolute;
    right: 0;
    height: 100%;
    border-width: 1px !important;

    @include media-breakpoint-between(md, lg) {
      position: relative;
      width: 100%;
      margin-top: 10px;
    }
  }
}
