/* start product dashboard styles */
.product-dashboard {
  .table-section {
    margin: 20px 0px;
  }

  .desc-column {
    @include text-ellipsis(2);
  }
}
/* end product dashboard styles */

/* start product list styles */
.product-list {
  .product-container {
    background-color: $white;
    box-shadow: $box-shadow;

    .item-box {
      padding: 15px;

      .item-details {
        .item-name {
          color: $theme-blue !important;
          font-weight: $font-weight-bold-two;
          max-height: 30px;
          overflow: hidden;
          margin-bottom: 8px;
        }

        .stock {
          font-weight: $font-weight-bold-one;
        }

        .in-stock {
          color: $theme-blue;
        }

        .out-of-stock {
          color: $theme-bright-red;
        }

        .item-desc {
          max-height: 40px;
          overflow: hidden;
        }

        .by {
          margin-bottom: 5px;
          color: $theme-blue;
          font-weight: $font-weight-bold-one;

          span {
            color: $font-custom-color !important;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
/* end product list styles */

/* start product page styles */
.product-page {
  .main {
    background-color: $theme-white;
  }
}

.product-shop {
  .item-image {
    position: relative;

    .stock {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background-color: $white;
      font-weight: $font-weight-bold-one;
    }

    .out-of-stock {
      color: $red;
    }

    .in-stock {
      color: $theme-blue;
    }
  }

  .item-box {
    .item-details {
      .item-desc {
        color: $font-custom-color !important;
      }
    }

    .item-actions {
      margin-top: 20px;
    }
  }
}
/* end product page styles */

/* start product common styles */
.item-box {
  .item-name {
    color: $red !important;
    margin: 0px;
  }

  .item-label {
    color: $font-custom-color;
    font-weight: $font-weight-bold-one;
    text-transform: capitalize;
  }

  .item-value {
    color: $font-custom-color;
    font-weight: $font-weight-bold-two;
  }

  .price {
    color: $font-custom-color;
    font-weight: $font-weight-bold-two;
    font-size: $font-size-large;
  }
}
/* end product common styles */
