.product-reviews {
  .review-summary {
    .left {
      width: 12%;

      @include media-breakpoint-down(lg) {
        width: 20%;
      }
    }
    .middle {
      width: 75%;

      @include media-breakpoint-down(lg) {
        width: 60%;
      }
    }
    .right {
      width: 12%;
      text-align: right;

      @include media-breakpoint-down(lg) {
        width: 20%;
      }
    }

    .bar-container {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
    }
    .bar-5 {
      height: 16px;
      background-color: #4caf50;
    }
    .bar-4 {
      height: 16px;
      background-color: #2196f3;
    }
    .bar-3 {
      height: 16px;
      background-color: #00bcd4;
    }
    .bar-2 {
      height: 16px;
      background-color: #ff9800;
    }
    .bar-1 {
      height: 16px;
      background-color: #f44336;
    }
  }

  .review-list {
    .review-box {
      height: 100%;
      border-radius: $border-radius-default;
      box-shadow: $secondary-box-shadow;
      background-color: $white;

      .avatar {
        width: 40px;
        height: 40px;
      }

      .review-icon {
        width: 35px;
        height: 35px;

        @include media-breakpoint-up(lg) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
