.sub-page {
  .subpage-header {
    @include flex();
    justify-content: space-between;
    color: $red !important;
    border-bottom: $border-default;
    border-color: $dark-border-color;
    padding-bottom: 10px;

    h1 {
      margin: 0;
    }

    .fa {
      cursor: pointer;
      font-size: $font-size-x-large !important;
    }

    .back {
      &:hover {
        color: $theme-blue;
      }

      .fa {
        &::before {
          margin-right: 5px;
        }
      }
    }
  }
}
