.support {
  .u-list {
    li {
      &:not(:last-child) {
        border-bottom: 1px solid $border-color-default;
      }

      .input-btn {
        width: 100%;
      }

      &.selected {
        .input-btn {
          background-color: $secondary-bg;
        }
      }
    }
  }

  .m-list {
    min-height: 30vh;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;

    &.empty {
      justify-content: center;
      align-items: center;
      @include flex();
    }

    .avatar {
      width: 32px;
      height: 32px;
    }

    .avatar-box {
      width: 40px;
    }

    .m-box {
      background-color: $secondary-bg;
      width: fit-content;
      border-radius: $border-radius-primary;
      color: $black;
      padding: 0.5rem 0.875rem;
      position: relative;
      word-wrap: break-word;
      line-height: 1.25;
      flex: 1;
      justify-content: center;
      align-items: center;
      @include flex();

      &.me {
        background-color: $primary-bg;
        color: $white;
        align-self: flex-end;
        margin-left: auto;
      }
    }
  }
}
