.task {
  h2 {
    text-transform: uppercase;
    margin: 0;
    color: $theme-blue !important;
  }
}

.task-header {
  @include flex();
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: $border-default;
}

.task-toggle {
  margin: 20px 0px;
}

.collapse.show {
  .card {
    border-color: $dark-border-color;
    border-width: 2px;
  }
}

.card-list .card {
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;

  &:hover {
    border-color: $dark-border-color;
    border-width: 2px;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .input-btn {
    color: $white !important;
    background-color: $theme-light-blue;
    border-width: 1px !important;

    &:hover {
      background-color: $red;
      border-width: 1px !important;
    }
  }
}
