// sass variables

// Theme colors
$theme-green: #00acac;
$theme-gray: #f1f1f1;
$theme-blue: #145086;
$theme-purple: #727cb6;
$theme-red: #c20030;
$theme-white: #f6f7f8;
$theme-light-white: #e8f0fe;
$theme-black: #323232;
$theme-orange: #e4853f;
$theme-yellow: #ffdd57;
$theme-light-yellow: #fbeeca;
$theme-pink: #ff3860;
$theme-light-blue: #4a68aa;

// standard colors
$blue: #20a8d8;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff5454;
$white: #fff;
$orange: #fabb3d;
$yellow: #ffc107 !default;
$green: #79c447;
$gray: #808081;
$teal: #20c997 !default;
$cyan: #67c2ef;
$black: #000;

$font-family: 'Roboto Slab', serif;
$font-family-heading: 'Roboto Slab', serif;
$font-family-body: 'Roboto Slab', serif;
$font-size-x-small: 12px;
$font-size-small: 13px;
$font-size-medium: 14px;
$font-size-large: 15px;
$font-size-x-large: 16px;
$font-size-huge: 20px;
$font-size-x-huge: 24px;
$font-size-heading-small: 16px;
$font-size-heading-medium: 18px;
$font-size-heading-large: 20px;
$font-size-heading-x-large: 24px;
$font-weight-normal: normal;
$font-weight-bold-light: 600;
$font-weight-bold: 700;

// layout variables
$btn-bg: $white;
$btn-bg-hover: $red;
$font-color: #808081;
$font-hover-color: #a8a8a8;
$focus-font-color: #262626;
$font-heading-color: #262626;
$border-color: #d8e0e4;
$dark-border-color: #e6e5ea;
$separator-color: #e6e5ea;
$dark-overflow-bg: #0006;
$transparent-bg: #3232321f;
$transparent-gray-bg: #f1f3f4f5;
$badge: $theme-red;

$box-shadow: 0 0 10px 0 #e6e5ea;
$border-radius-default: 3px;
$line-height: 1.5;
$letter-spacing: 0.5px;
$border-default: 1px solid $border-color;
$layout-max-width: 1200px;
$layout-transition-speed: 0.3s !default;
$layout-transition-higher-speed: 0.6s !default;

// icons
$twitter: url('/images/social_icons/twitter.png');
$pinterest: url('/images/social_icons/pinterest.png');
$instagram: url('/images/social_icons/instagram.png');
$facebook: url('/images/social_icons/facebook.png');
$google: url('/images/social_icons/google.png');

$shopping-cart: url('/images/cart.svg');
$bars: url('/images/bars.png');
$arrow-right: url('/images/arrow-right.svg');
$close: url('/images/close.svg');
